$global-animation-duration-0: 0ms;
$global-animation-duration-100: 130ms;
$global-animation-duration-200: 160ms;
$global-animation-duration-300: 190ms;
$global-animation-duration-400: 220ms;
$global-animation-duration-500: 250ms;
$global-animation-duration-600: 300ms;
$global-animation-duration-700: 350ms;
$global-animation-duration-800: 400ms;
$global-animation-duration-900: 450ms;
$global-animation-duration-1000: 500ms;
$global-animation-duration-2000: 1000ms;
$global-animation-duration-4000: 2000ms;
$global-animation-ease-in-out: cubic-bezier(0.45, 0, 0.4, 1);
$global-animation-ease-in: cubic-bezier(0.5, 0, 1, 1);
$global-animation-ease-out: cubic-bezier(0, 0, 0.4, 1);
$global-animation-linear: cubic-bezier(0, 0, 1, 1);
