@use '../themes' as theme;
@use './color' as color;

$semantic-negative-color-background: color.$global-color-static-red-700;
$semantic-negative-color-default: theme.variable("global-color-red-500");
$semantic-negative-color-state-hover: theme.variable("global-color-red-600");
$semantic-negative-color-dark: theme.variable("global-color-red-600");
$semantic-negative-color-border: theme.variable("global-color-red-400");
$semantic-negative-color-icon: theme.variable("global-color-red-600");
$semantic-negative-color-status: theme.variable("global-color-red-400");
$semantic-negative-color-text-large: theme.variable("global-color-red-500");
$semantic-negative-color-text-small: theme.variable("global-color-red-600");
$semantic-negative-color-state-down: theme.variable("global-color-red-700");
$semantic-negative-color-state-focus: theme.variable("global-color-red-400");
$semantic-notice-color-background: color.$global-color-static-orange-700;
$semantic-notice-color-default: theme.variable("global-color-orange-500");
$semantic-notice-color-dark: theme.variable("global-color-orange-600");
$semantic-notice-color-border: theme.variable("global-color-orange-400");
$semantic-notice-color-icon: theme.variable("global-color-orange-600");
$semantic-notice-color-status: theme.variable("global-color-orange-400");
$semantic-notice-color-text-large: theme.variable("global-color-orange-500");
$semantic-notice-color-text-small: theme.variable("global-color-orange-600");
$semantic-notice-color-state-down: theme.variable("global-color-orange-700");
$semantic-notice-color-state-focus: theme.variable("global-color-orange-400");
$semantic-positive-color-background: color.$global-color-static-green-700;
$semantic-positive-color-default: theme.variable("global-color-green-500");
$semantic-positive-color-dark: theme.variable("global-color-green-600");
$semantic-positive-color-border: theme.variable("global-color-green-400");
$semantic-positive-color-icon: theme.variable("global-color-green-600");
$semantic-positive-color-status: theme.variable("global-color-green-400");
$semantic-positive-color-text-large: theme.variable("global-color-green-500");
$semantic-positive-color-text-small: theme.variable("global-color-green-600");
$semantic-positive-color-state-down: theme.variable("global-color-green-700");
$semantic-positive-color-state-focus: theme.variable("global-color-green-400");
$semantic-informative-color-background: color.$global-color-static-blue-700;
$semantic-informative-color-default: theme.variable("global-color-blue-500");
$semantic-informative-color-dark: theme.variable("global-color-blue-600");
$semantic-informative-color-border: theme.variable("global-color-blue-400");
$semantic-informative-color-icon: theme.variable("global-color-blue-600");
$semantic-informative-color-status: theme.variable("global-color-blue-400");
$semantic-informative-color-text-large: theme.variable("global-color-blue-500");
$semantic-informative-color-text-small: theme.variable("global-color-blue-600");
$semantic-informative-color-state-down: theme.variable("global-color-blue-700");
$semantic-informative-color-state-focus: theme.variable("global-color-blue-400");
$semantic-cta-color-background-default: color.$global-color-static-blue-600;
$semantic-cta-color-background-hover: color.$global-color-static-blue-700;
$semantic-cta-color-background-down: color.$global-color-static-blue-800;
$semantic-cta-color-background-key-focus: color.$global-color-static-blue-600;
$semantic-background-color-key-focus: color.$global-color-static-blue-600;
$semantic-neutral-color-background: color.$global-color-static-gray-700;
$semantic-presence-color-1: color.$global-color-static-red-500;
$semantic-presence-color-2: color.$global-color-static-orange-400;
$semantic-presence-color-3: color.$global-color-static-yellow-400;
$semantic-presence-color-4: rgb(75, 204, 162);
$semantic-presence-color-5: rgb(0, 199, 255);
$semantic-presence-color-6: rgb(0, 140, 184);
$semantic-presence-color-7: rgb(126, 75, 243);
$semantic-presence-color-8: color.$global-color-static-fuchsia-600;
