@use '../themes/index.scss' as theme;
@use './colorGlobals.scss' as colorGlobal;

$semantic-negative-color-background: colorGlobal.$global-color-static-red-700;
$semantic-negative-color-default: theme.$global-color-red-500;
$semantic-negative-color-state-hover: theme.$global-color-red-600;
$semantic-negative-color-dark: theme.$global-color-red-600;
$semantic-negative-color-border: theme.$global-color-red-400;
$semantic-negative-color-icon: theme.$global-color-red-600;
$semantic-negative-color-status: theme.$global-color-red-400;
$semantic-negative-color-text-large: theme.$global-color-red-500;
$semantic-negative-color-text-small: theme.$global-color-red-600;
$semantic-negative-color-state-down: theme.$global-color-red-700;
$semantic-negative-color-state-focus: theme.$global-color-red-400;
$semantic-notice-color-background: colorGlobal.$global-color-static-orange-700;
$semantic-notice-color-default: theme.$global-color-orange-500;
$semantic-notice-color-dark: theme.$global-color-orange-600;
$semantic-notice-color-border: theme.$global-color-orange-400;
$semantic-notice-color-icon: theme.$global-color-orange-600;
$semantic-notice-color-status: theme.$global-color-orange-400;
$semantic-notice-color-text-large: theme.$global-color-orange-500;
$semantic-notice-color-text-small: theme.$global-color-orange-600;
$semantic-notice-color-state-down: theme.$global-color-orange-700;
$semantic-notice-color-state-focus: theme.$global-color-orange-400;
$semantic-positive-color-background: colorGlobal.$global-color-static-green-700;
$semantic-positive-color-default: theme.$global-color-green-500;
$semantic-positive-color-dark: theme.$global-color-green-600;
$semantic-positive-color-border: theme.$global-color-green-400;
$semantic-positive-color-icon: theme.$global-color-green-600;
$semantic-positive-color-status: theme.$global-color-green-400;
$semantic-positive-color-text-large: theme.$global-color-green-500;
$semantic-positive-color-text-small: theme.$global-color-green-600;
$semantic-positive-color-state-down: theme.$global-color-green-700;
$semantic-positive-color-state-focus: theme.$global-color-green-400;
$semantic-informative-color-background: colorGlobal.$global-color-static-blue-700;
$semantic-informative-color-default: theme.$global-color-blue-500;
$semantic-informative-color-dark: theme.$global-color-blue-600;
$semantic-informative-color-border: theme.$global-color-blue-400;
$semantic-informative-color-icon: theme.$global-color-blue-600;
$semantic-informative-color-status: theme.$global-color-blue-400;
$semantic-informative-color-text-large: theme.$global-color-blue-500;
$semantic-informative-color-text-small: theme.$global-color-blue-600;
$semantic-informative-color-state-down: theme.$global-color-blue-700;
$semantic-informative-color-state-focus: theme.$global-color-blue-400;
$semantic-cta-color-background-default: colorGlobal.$global-color-static-blue-600;
$semantic-cta-color-background-hover: colorGlobal.$global-color-static-blue-700;
$semantic-cta-color-background-down: colorGlobal.$global-color-static-blue-800;
$semantic-cta-color-background-key-focus: colorGlobal.$global-color-static-blue-600;
$semantic-background-color-key-focus: colorGlobal.$global-color-static-blue-600;
$semantic-neutral-color-background: colorGlobal.$global-color-static-gray-700;
$semantic-presence-color-1: colorGlobal.$global-color-static-red-500;
$semantic-presence-color-2: colorGlobal.$global-color-static-orange-400;
$semantic-presence-color-3: colorGlobal.$global-color-static-yellow-400;
$semantic-presence-color-4: rgb(75, 204, 162);
$semantic-presence-color-5: rgb(0, 199, 255);
$semantic-presence-color-6: rgb(0, 140, 184);
$semantic-presence-color-7: rgb(126, 75, 243);
$semantic-presence-color-8: colorGlobal.$global-color-static-fuchsia-600;
