@use '../themes' as theme;
@use './color' as color;

$alias-background-color-default: theme.variable("global-color-gray-100");
$alias-background-color-transparent: transparent;
$alias-background-color-label-gray: rgb(112, 112, 112);
$alias-background-color-quickactions-overlay: rgba(0, 0, 0, 0.2);
$alias-placeholder-text-color: theme.variable("global-color-gray-600");
$alias-placeholder-text-color-hover: theme.variable("global-color-gray-900");
$alias-placeholder-text-color-down: theme.variable("global-color-gray-900");
$alias-placeholder-text-color-selected: theme.variable("global-color-gray-800");
$alias-label-text-color: theme.variable("global-color-gray-700");
$alias-text-color: theme.variable("global-color-gray-800");
$alias-text-color-hover: theme.variable("global-color-gray-900");
$alias-text-color-down: theme.variable("global-color-gray-900");
$alias-text-color-key-focus: theme.variable("global-color-blue-600");
$alias-text-color-mouse-focus: theme.variable("global-color-blue-600");
$alias-text-color-disabled: theme.variable("global-color-gray-500");
$alias-text-color-invalid: theme.variable("global-color-red-500");
$alias-text-color-selected: theme.variable("global-color-blue-600");
$alias-text-color-selected-neutral: theme.variable("global-color-gray-900");
$alias-title-text-color: theme.variable("global-color-gray-900");
$alias-heading-text-color: theme.variable("global-color-gray-900");
$alias-border-color: theme.variable("global-color-gray-400");
$alias-border-color-hover: theme.variable("global-color-gray-500");
$alias-border-color-down: theme.variable("global-color-gray-500");
$alias-border-color-focus: theme.variable("global-color-blue-400");
$alias-border-color-mouse-focus: theme.variable("global-color-blue-500");
$alias-border-color-disabled: theme.variable("global-color-gray-200");
$alias-border-color-extralight: theme.variable("global-color-gray-100");
$alias-border-color-light: theme.variable("global-color-gray-200");
$alias-border-color-mid: theme.variable("global-color-gray-300");
$alias-border-color-dark: theme.variable("global-color-gray-400");
$alias-border-color-transparent: transparent;
$alias-border-color-translucent-dark: rgba(0, 0, 0, 0.05);
$alias-border-color-translucent-darker: rgba(0, 0, 0, 0.1);
$alias-focus-color: theme.variable("global-color-blue-400");
$alias-focus-ring-color: $alias-focus-color;
$alias-track-color-default: theme.variable("global-color-gray-300");
$alias-track-color-disabled: theme.variable("global-color-gray-300");
$alias-track-color-over-background: rgba(255, 255, 255, 0.2);
$alias-icon-color: theme.variable("global-color-gray-700");
$alias-icon-color-over-background: color.$global-color-static-white;
$alias-icon-color-hover: theme.variable("global-color-gray-900");
$alias-icon-color-down: theme.variable("global-color-gray-900");
$alias-icon-color-focus: theme.variable("global-color-gray-900");
$alias-icon-color-disabled: theme.variable("global-color-gray-400");
$alias-icon-color-selected-neutral: theme.variable("global-color-gray-900");
$alias-icon-color-selected: theme.variable("global-color-blue-500");
$alias-icon-color-selected-hover: theme.variable("global-color-blue-600");
$alias-icon-color-selected-down: theme.variable("global-color-blue-700");
$alias-icon-color-selected-focus: theme.variable("global-color-blue-600");
$alias-icon-color-error: theme.variable("global-color-red-400");
$alias-toolbar-background-color: theme.variable("global-color-gray-100");
$alias-colorhandle-outer-border-color: rgba(0, 0, 0, 0.42);
$alias-categorical-color-1: color.$global-color-static-seafoam-200;
$alias-categorical-color-2: color.$global-color-static-indigo-700;
$alias-categorical-color-3: color.$global-color-static-orange-500;
$alias-categorical-color-4: color.$global-color-static-magenta-500;
$alias-categorical-color-5: color.$global-color-static-indigo-200;
$alias-categorical-color-6: color.$global-color-static-celery-200;
$alias-categorical-color-7: color.$global-color-static-blue-500;
$alias-categorical-color-8: color.$global-color-static-purple-800;
$alias-categorical-color-9: color.$global-color-static-yellow-500;
$alias-categorical-color-10: color.$global-color-static-orange-700;
$alias-categorical-color-11: color.$global-color-static-green-600;
$alias-categorical-color-12: color.$global-color-static-chartreuse-300;
$alias-categorical-color-13: color.$global-color-static-blue-200;
$alias-categorical-color-14: color.$global-color-static-fuchsia-500;
$alias-categorical-color-15: color.$global-color-static-magenta-200;
$alias-categorical-color-16: color.$global-color-static-yellow-200;
