@use '../themes/index.scss' as theme;
@use './colorGlobals.scss' as colorGlobal;

$alias-background-color-default: theme.$global-color-gray-100;
$alias-background-color-transparent: transparent;
$alias-background-color-label-gray: rgb(112, 112, 112);
$alias-background-color-quickactions-overlay: rgba(0, 0, 0, 0.2);
$alias-placeholder-text-color: theme.$global-color-gray-600;
$alias-placeholder-text-color-hover: theme.$global-color-gray-900;
$alias-placeholder-text-color-down: theme.$global-color-gray-900;
$alias-placeholder-text-color-selected: theme.$global-color-gray-800;
$alias-label-text-color: theme.$global-color-gray-700;
$alias-text-color: theme.$global-color-gray-800;
$alias-text-color-hover: theme.$global-color-gray-900;
$alias-text-color-down: theme.$global-color-gray-900;
$alias-text-color-key-focus: theme.$global-color-blue-600;
$alias-text-color-mouse-focus: theme.$global-color-blue-600;
$alias-text-color-disabled: theme.$global-color-gray-500;
$alias-text-color-invalid: theme.$global-color-red-500;
$alias-text-color-selected: theme.$global-color-blue-600;
$alias-text-color-selected-neutral: theme.$global-color-gray-900;
$alias-title-text-color: theme.$global-color-gray-900;
$alias-heading-text-color: theme.$global-color-gray-900;
$alias-border-color: theme.$global-color-gray-400;
$alias-border-color-hover: theme.$global-color-gray-500;
$alias-border-color-down: theme.$global-color-gray-500;
$alias-border-color-focus: theme.$global-color-blue-400;
$alias-border-color-mouse-focus: theme.$global-color-blue-500;
$alias-border-color-disabled: theme.$global-color-gray-200;
$alias-border-color-extralight: theme.$global-color-gray-100;
$alias-border-color-light: theme.$global-color-gray-200;
$alias-border-color-mid: theme.$global-color-gray-300;
$alias-border-color-dark: theme.$global-color-gray-400;
$alias-border-color-transparent: transparent;
$alias-border-color-translucent-dark: rgba(0, 0, 0, 0.05);
$alias-border-color-translucent-darker: rgba(0, 0, 0, 0.1);
$alias-focus-color: theme.$global-color-blue-400;
$alias-focus-ring-color: $alias-focus-color;
$alias-track-color-default: theme.$global-color-gray-300;
$alias-track-color-disabled: theme.$global-color-gray-300;
$alias-track-color-over-background: rgba(255, 255, 255, 0.2);
$alias-icon-color: theme.$global-color-gray-700;
$alias-icon-color-over-background: colorGlobal.$global-color-static-white;
$alias-icon-color-hover: theme.$global-color-gray-900;
$alias-icon-color-down: theme.$global-color-gray-900;
$alias-icon-color-focus: theme.$global-color-gray-900;
$alias-icon-color-disabled: theme.$global-color-gray-400;
$alias-icon-color-selected-neutral: theme.$global-color-gray-900;
$alias-icon-color-selected: theme.$global-color-blue-500;
$alias-icon-color-selected-hover: theme.$global-color-blue-600;
$alias-icon-color-selected-down: theme.$global-color-blue-700;
$alias-icon-color-selected-focus: theme.$global-color-blue-600;
$alias-icon-color-error: theme.$global-color-red-400;
$alias-toolbar-background-color: theme.$global-color-gray-100;
$alias-colorhandle-outer-border-color: rgba(0, 0, 0, 0.42);
$alias-categorical-color-1: colorGlobal.$global-color-static-seafoam-200;
$alias-categorical-color-2: colorGlobal.$global-color-static-indigo-700;
$alias-categorical-color-3: colorGlobal.$global-color-static-orange-500;
$alias-categorical-color-4: colorGlobal.$global-color-static-magenta-500;
$alias-categorical-color-5: colorGlobal.$global-color-static-indigo-200;
$alias-categorical-color-6: colorGlobal.$global-color-static-celery-200;
$alias-categorical-color-7: colorGlobal.$global-color-static-blue-500;
$alias-categorical-color-8: colorGlobal.$global-color-static-purple-800;
$alias-categorical-color-9: colorGlobal.$global-color-static-yellow-500;
$alias-categorical-color-10: colorGlobal.$global-color-static-orange-700;
$alias-categorical-color-11: colorGlobal.$global-color-static-green-600;
$alias-categorical-color-12: colorGlobal.$global-color-static-chartreuse-300;
$alias-categorical-color-13: colorGlobal.$global-color-static-blue-200;
$alias-categorical-color-14: colorGlobal.$global-color-static-fuchsia-500;
$alias-categorical-color-15: colorGlobal.$global-color-static-magenta-200;
$alias-categorical-color-16: colorGlobal.$global-color-static-yellow-200;
