@use '../scales' as scale;
@use './dimension';

$alias-dropshadow-blur: scale.variable("global-dimension-size-50");
$alias-dropshadow-offset-y: scale.variable("global-dimension-size-10");
$alias-font-size-default: scale.variable("global-dimension-font-size-100");
$alias-line-height-small: scale.variable("global-dimension-size-200");
$alias-line-height-medium: scale.variable("global-dimension-size-250");
$alias-line-height-large: scale.variable("global-dimension-size-300");
$alias-line-height-xlarge: scale.variable("global-dimension-size-400");
$alias-line-height-xxlarge: scale.variable("global-dimension-size-600");
$alias-layout-label-gap-size: scale.variable("global-dimension-size-100");
$alias-pill-button-text-size: scale.variable("global-dimension-font-size-100");
$alias-pill-button-text-baseline: dimension.$global-dimension-static-size-150;
$alias-border-radius-xsmall: scale.variable("global-dimension-size-10");
$alias-border-radius-small: scale.variable("global-dimension-size-25");
$alias-border-radius-regular: scale.variable("global-dimension-size-50");
$alias-border-radius-medium: scale.variable("global-dimension-size-100");
$alias-border-radius-large: scale.variable("global-dimension-size-200");
$alias-single-line-height: scale.variable("global-dimension-size-400");
$alias-single-line-width: scale.variable("global-dimension-size-2400");
$alias-workflow-icon-size: scale.variable("global-dimension-size-225");
$alias-heading-display1-text-size: scale.variable("global-dimension-font-size-1300");
$alias-heading-xxxl-text-size: scale.variable("global-dimension-font-size-1300");
$alias-heading-han-display1-text-size: scale.variable("global-dimension-font-size-1300");
$alias-heading-han-xxxl-text-size: scale.variable("global-dimension-font-size-1300");
$alias-heading-han-display1-margin-top: scale.variable("global-dimension-font-size-1200");
$alias-heading-han-xxxl-margin-top: scale.variable("global-dimension-font-size-1200");
$alias-heading-display1-margin-top: scale.variable("global-dimension-font-size-1200");
$alias-heading-xxxl-margin-top: scale.variable("global-dimension-font-size-1200");
$alias-heading-display2-text-size: scale.variable("global-dimension-font-size-1100");
$alias-heading-xxl-text-size: scale.variable("global-dimension-font-size-1100");
$alias-heading-display2-margin-top: scale.variable("global-dimension-font-size-900");
$alias-heading-xxl-margin-top: scale.variable("global-dimension-font-size-900");
$alias-heading-han-display2-text-size: scale.variable("global-dimension-font-size-900");
$alias-heading-han-xxl-text-size: scale.variable("global-dimension-font-size-900");
$alias-heading-han-display2-margin-top: scale.variable("global-dimension-font-size-800");
$alias-heading-han-xxl-margin-top: scale.variable("global-dimension-font-size-800");
$alias-heading1-text-size: scale.variable("global-dimension-font-size-900");
$alias-heading-xl-text-size: scale.variable("global-dimension-font-size-900");
$alias-heading1-margin-top: scale.variable("global-dimension-font-size-800");
$alias-heading-xl-margin-top: scale.variable("global-dimension-font-size-800");
$alias-heading1-han-text-size: scale.variable("global-dimension-font-size-800");
$alias-heading-han-xl-text-size: scale.variable("global-dimension-font-size-800");
$alias-heading1-han-margin-top: scale.variable("global-dimension-font-size-700");
$alias-heading-han-xl-margin-top: scale.variable("global-dimension-font-size-700");
$alias-heading2-text-size: scale.variable("global-dimension-font-size-700");
$alias-heading-l-text-size: scale.variable("global-dimension-font-size-700");
$alias-heading2-margin-top: scale.variable("global-dimension-font-size-600");
$alias-heading-l-margin-top: scale.variable("global-dimension-font-size-600");
$alias-heading2-han-text-size: scale.variable("global-dimension-font-size-600");
$alias-heading-han-l-text-size: scale.variable("global-dimension-font-size-600");
$alias-heading2-han-margin-top: scale.variable("global-dimension-font-size-500");
$alias-heading-han-l-margin-top: scale.variable("global-dimension-font-size-500");
$alias-heading3-text-size: scale.variable("global-dimension-font-size-500");
$alias-heading-m-text-size: scale.variable("global-dimension-font-size-500");
$alias-heading3-margin-top: scale.variable("global-dimension-font-size-400");
$alias-heading-m-margin-top: scale.variable("global-dimension-font-size-400");
$alias-heading3-han-text-size: scale.variable("global-dimension-font-size-400");
$alias-heading-han-m-text-size: scale.variable("global-dimension-font-size-400");
$alias-heading3-han-margin-top: scale.variable("global-dimension-font-size-300");
$alias-heading-han-m-margin-top: scale.variable("global-dimension-font-size-300");
$alias-heading4-text-size: scale.variable("global-dimension-font-size-300");
$alias-heading-s-text-size: scale.variable("global-dimension-font-size-300");
$alias-heading4-margin-top: scale.variable("global-dimension-font-size-200");
$alias-heading-s-margin-top: scale.variable("global-dimension-font-size-200");
$alias-heading5-text-size: scale.variable("global-dimension-font-size-200");
$alias-heading-xs-text-size: scale.variable("global-dimension-font-size-200");
$alias-heading5-margin-top: scale.variable("global-dimension-font-size-100");
$alias-heading-xs-margin-top: scale.variable("global-dimension-font-size-100");
$alias-heading6-text-size: scale.variable("global-dimension-font-size-100");
$alias-heading-xxs-text-size: scale.variable("global-dimension-font-size-100");
$alias-heading6-margin-top: scale.variable("global-dimension-font-size-75");
$alias-heading-xxs-margin-top: scale.variable("global-dimension-font-size-75");
