$global-font-family-base: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
$global-font-family-serif: adobe-clean-serif, "Source Serif Pro", Georgia, serif;
$global-font-family-code: "Source Code Pro", Monaco, monospace;
$global-font-weight-thin: 100;
$global-font-weight-ultra-light: 200;
$global-font-weight-light: 300;
$global-font-weight-regular: 400;
$global-font-weight-medium: 500;
$global-font-weight-semi-bold: 600;
$global-font-weight-bold: 700;
$global-font-weight-extra-bold: 800;
$global-font-weight-black: 900;
$global-font-style-regular: normal;
$global-font-style-italic: italic;
$global-font-letter-spacing-none: 0;
$global-font-letter-spacing-small: 0.0125em;
$global-font-letter-spacing-han: 0.05em;
$global-font-letter-spacing-medium: 0.06em;
$global-font-line-height-large: 1.7;
$global-font-line-height-medium: 1.5;
$global-font-line-height-small: 1.3;
$global-font-multiplier-25: 0.25em;
$global-font-multiplier-75: 0.75em;
