@use './dimension';
@use './font';
@use './animation';

$alias-border-size-thin: dimension.$global-dimension-static-size-10;
$alias-border-size-thick: dimension.$global-dimension-static-size-25;
$alias-border-size-thicker: dimension.$global-dimension-static-size-50;
$alias-border-size-thickest: dimension.$global-dimension-static-size-100;
$alias-border-offset-thin: dimension.$global-dimension-static-size-25;
$alias-border-offset-thick: dimension.$global-dimension-static-size-50;
$alias-border-offset-thicker: dimension.$global-dimension-static-size-100;
$alias-border-offset-thickest: dimension.$global-dimension-static-size-200;
$alias-grid-baseline: dimension.$global-dimension-static-size-100;
$alias-grid-gutter-xsmall: dimension.$global-dimension-static-size-200;
$alias-grid-gutter-small: dimension.$global-dimension-static-size-300;
$alias-grid-gutter-medium: dimension.$global-dimension-static-size-400;
$alias-grid-gutter-large: dimension.$global-dimension-static-size-500;
$alias-grid-gutter-xlarge: dimension.$global-dimension-static-size-600;
$alias-grid-margin-xsmall: dimension.$global-dimension-static-size-200;
$alias-grid-margin-small: dimension.$global-dimension-static-size-300;
$alias-grid-margin-medium: dimension.$global-dimension-static-size-400;
$alias-grid-margin-large: dimension.$global-dimension-static-size-500;
$alias-grid-margin-xlarge: dimension.$global-dimension-static-size-600;
$alias-grid-layout-region-margin-bottom-xsmall: dimension.$global-dimension-static-size-200;
$alias-grid-layout-region-margin-bottom-small: dimension.$global-dimension-static-size-300;
$alias-grid-layout-region-margin-bottom-medium: dimension.$global-dimension-static-size-400;
$alias-grid-layout-region-margin-bottom-large: dimension.$global-dimension-static-size-500;
$alias-grid-layout-region-margin-bottom-xlarge: dimension.$global-dimension-static-size-600;
$alias-radial-reaction-size-default: dimension.$global-dimension-static-size-550;
$alias-line-height-body: font.$global-font-line-height-medium;
$alias-line-height-title: font.$global-font-line-height-small;
$alias-body-han-text-line-height: font.$global-font-line-height-large;
$alias-body-text-font-family: font.$global-font-family-base;
$alias-body-text-line-height: font.$global-font-line-height-medium;
$alias-body-text-font-weight: font.$global-font-weight-regular;
$alias-body-text-font-weight-strong: font.$global-font-weight-bold;
$alias-button-text-line-height: font.$global-font-line-height-small;
$alias-heading-han-text-line-height: font.$global-font-line-height-medium;
$alias-heading-text-line-height: font.$global-font-line-height-small;
$alias-heading-text-font-weight-regular: font.$global-font-weight-bold;
$alias-heading-text-font-weight-regular-strong: font.$global-font-weight-black;
$alias-heading-text-font-weight-quiet: font.$global-font-weight-light;
$alias-heading-text-font-weight-quiet-strong: font.$global-font-weight-bold;
$alias-heading-text-font-weight-strong: font.$global-font-weight-black;
$alias-heading-text-font-weight-strong-strong: font.$global-font-weight-black;
$alias-subheading-text-font-weight: font.$global-font-weight-bold;
$alias-subheading-text-font-weight-strong: font.$global-font-weight-black;
$alias-detail-text-font-weight: font.$global-font-weight-bold;
$alias-detail-text-font-weight-light: font.$global-font-weight-regular;
$alias-detail-text-font-weight-strong: font.$global-font-weight-black;
$alias-serif-text-font-family: font.$global-font-family-serif;
$alias-article-text-font-family: font.$global-font-family-serif;
$alias-article-body-text-font-weight: font.$global-font-weight-regular;
$alias-article-body-text-font-weight-strong: font.$global-font-weight-black;
$alias-article-heading-text-font-weight: font.$global-font-weight-bold;
$alias-article-heading-text-font-weight-strong: font.$global-font-weight-black;
$alias-article-heading-text-font-weight-quiet: font.$global-font-weight-regular;
$alias-article-heading-text-font-weight-quiet-strong: font.$global-font-weight-bold;
$alias-article-subheading-text-font-weight: font.$global-font-weight-bold;
$alias-article-subheading-text-font-weight-strong: font.$global-font-weight-black;
$alias-article-detail-text-font-weight: font.$global-font-weight-regular;
$alias-article-detail-text-font-weight-strong: font.$global-font-weight-bold;
$alias-code-text-font-family: font.$global-font-family-code;
$alias-han-heading-text-font-weight-regular: font.$global-font-weight-bold;
$alias-han-heading-text-font-weight-regular-emphasis: font.$global-font-weight-extra-bold;
$alias-han-heading-text-font-weight-regular-strong: font.$global-font-weight-black;
$alias-han-heading-text-font-weight-quiet: font.$global-font-weight-light;
$alias-han-heading-text-font-weight-quiet-emphasis: font.$global-font-weight-regular;
$alias-han-heading-text-font-weight-quiet-strong: font.$global-font-weight-bold;
$alias-han-heading-text-font-weight-light: font.$global-font-weight-light;
$alias-han-heading-text-font-weight-light-emphasis: font.$global-font-weight-regular;
$alias-han-heading-text-font-weight-light-strong: font.$global-font-weight-bold;
$alias-han-heading-text-font-weight-strong: font.$global-font-weight-black;
$alias-han-heading-text-font-weight-strong-emphasis: font.$global-font-weight-black;
$alias-han-heading-text-font-weight-strong-strong: font.$global-font-weight-black;
$alias-han-heading-text-font-weight-heavy: font.$global-font-weight-black;
$alias-han-heading-text-font-weight-heavy-emphasis: font.$global-font-weight-black;
$alias-han-heading-text-font-weight-heavy-strong: font.$global-font-weight-black;
$alias-han-body-text-font-weight-regular: font.$global-font-weight-regular;
$alias-han-body-text-font-weight-emphasis: font.$global-font-weight-bold;
$alias-han-body-text-font-weight-strong: font.$global-font-weight-black;
$alias-han-subheading-text-font-weight-regular: font.$global-font-weight-bold;
$alias-han-subheading-text-font-weight-emphasis: font.$global-font-weight-extra-bold;
$alias-han-subheading-text-font-weight-strong: font.$global-font-weight-black;
$alias-han-detail-text-font-weight: font.$global-font-weight-regular;
$alias-han-detail-text-font-weight-emphasis: font.$global-font-weight-bold;
$alias-han-detail-text-font-weight-strong: font.$global-font-weight-black;
$alias-code-text-font-weight-regular: font.$global-font-weight-regular;
$alias-code-text-font-weight-strong: font.$global-font-weight-bold;
$alias-code-text-line-height: font.$global-font-line-height-medium;
$alias-heading-margin-bottom: font.$global-font-multiplier-25;
$alias-body-margin-bottom: font.$global-font-multiplier-75;
$alias-focus-ring-gap: dimension.$global-dimension-static-size-25;
$alias-focus-ring-size: dimension.$global-dimension-static-size-25;
$alias-loupe-entry-animation-duration: animation.$global-animation-duration-300;
$alias-loupe-exit-animation-duration: animation.$global-animation-duration-300;
