@use '../globals/dimensionGlobals.scss' as dimensionGlobals;
@use '../globals/fontGlobals.scss' as fontGlobals;
@use '../globals/animationGlobals.scss' as animationGlobals;

$alias-border-size-thin: dimensionGlobals.$global-dimension-static-size-10;
$alias-border-size-thick: dimensionGlobals.$global-dimension-static-size-25;
$alias-border-size-thicker: dimensionGlobals.$global-dimension-static-size-50;
$alias-border-size-thickest: dimensionGlobals.$global-dimension-static-size-100;
$alias-border-offset-thin: dimensionGlobals.$global-dimension-static-size-25;
$alias-border-offset-thick: dimensionGlobals.$global-dimension-static-size-50;
$alias-border-offset-thicker: dimensionGlobals.$global-dimension-static-size-100;
$alias-border-offset-thickest: dimensionGlobals.$global-dimension-static-size-200;
$alias-grid-baseline: dimensionGlobals.$global-dimension-static-size-100;
$alias-grid-gutter-xsmall: dimensionGlobals.$global-dimension-static-size-200;
$alias-grid-gutter-small: dimensionGlobals.$global-dimension-static-size-300;
$alias-grid-gutter-medium: dimensionGlobals.$global-dimension-static-size-400;
$alias-grid-gutter-large: dimensionGlobals.$global-dimension-static-size-500;
$alias-grid-gutter-xlarge: dimensionGlobals.$global-dimension-static-size-600;
$alias-grid-margin-xsmall: dimensionGlobals.$global-dimension-static-size-200;
$alias-grid-margin-small: dimensionGlobals.$global-dimension-static-size-300;
$alias-grid-margin-medium: dimensionGlobals.$global-dimension-static-size-400;
$alias-grid-margin-large: dimensionGlobals.$global-dimension-static-size-500;
$alias-grid-margin-xlarge: dimensionGlobals.$global-dimension-static-size-600;
$alias-grid-layout-region-margin-bottom-xsmall: dimensionGlobals.$global-dimension-static-size-200;
$alias-grid-layout-region-margin-bottom-small: dimensionGlobals.$global-dimension-static-size-300;
$alias-grid-layout-region-margin-bottom-medium: dimensionGlobals.$global-dimension-static-size-400;
$alias-grid-layout-region-margin-bottom-large: dimensionGlobals.$global-dimension-static-size-500;
$alias-grid-layout-region-margin-bottom-xlarge: dimensionGlobals.$global-dimension-static-size-600;
$alias-radial-reaction-size-default: dimensionGlobals.$global-dimension-static-size-550;
$alias-line-height-body: fontGlobals.$global-font-line-height-medium;
$alias-line-height-title: fontGlobals.$global-font-line-height-small;
$alias-body-han-text-line-height: fontGlobals.$global-font-line-height-large;
$alias-body-text-font-family: fontGlobals.$global-font-family-base;
$alias-body-text-line-height: fontGlobals.$global-font-line-height-medium;
$alias-body-text-font-weight: fontGlobals.$global-font-weight-regular;
$alias-body-text-font-weight-strong: fontGlobals.$global-font-weight-bold;
$alias-button-text-line-height: fontGlobals.$global-font-line-height-small;
$alias-heading-han-text-line-height: fontGlobals.$global-font-line-height-medium;
$alias-heading-text-line-height: fontGlobals.$global-font-line-height-small;
$alias-heading-text-font-weight-regular: fontGlobals.$global-font-weight-bold;
$alias-heading-text-font-weight-regular-strong: fontGlobals.$global-font-weight-black;
$alias-heading-text-font-weight-quiet: fontGlobals.$global-font-weight-light;
$alias-heading-text-font-weight-quiet-strong: fontGlobals.$global-font-weight-bold;
$alias-heading-text-font-weight-strong: fontGlobals.$global-font-weight-black;
$alias-heading-text-font-weight-strong-strong: fontGlobals.$global-font-weight-black;
$alias-subheading-text-font-weight: fontGlobals.$global-font-weight-bold;
$alias-subheading-text-font-weight-strong: fontGlobals.$global-font-weight-black;
$alias-detail-text-font-weight: fontGlobals.$global-font-weight-bold;
$alias-detail-text-font-weight-light: fontGlobals.$global-font-weight-regular;
$alias-detail-text-font-weight-strong: fontGlobals.$global-font-weight-black;
$alias-serif-text-font-family: fontGlobals.$global-font-family-serif;
$alias-article-text-font-family: fontGlobals.$global-font-family-serif;
$alias-article-body-text-font-weight: fontGlobals.$global-font-weight-regular;
$alias-article-body-text-font-weight-strong: fontGlobals.$global-font-weight-black;
$alias-article-heading-text-font-weight: fontGlobals.$global-font-weight-bold;
$alias-article-heading-text-font-weight-strong: fontGlobals.$global-font-weight-black;
$alias-article-heading-text-font-weight-quiet: fontGlobals.$global-font-weight-regular;
$alias-article-heading-text-font-weight-quiet-strong: fontGlobals.$global-font-weight-bold;
$alias-article-subheading-text-font-weight: fontGlobals.$global-font-weight-bold;
$alias-article-subheading-text-font-weight-strong: fontGlobals.$global-font-weight-black;
$alias-article-detail-text-font-weight: fontGlobals.$global-font-weight-regular;
$alias-article-detail-text-font-weight-strong: fontGlobals.$global-font-weight-bold;
$alias-code-text-font-family: fontGlobals.$global-font-family-code;
$alias-han-heading-text-font-weight-regular: fontGlobals.$global-font-weight-bold;
$alias-han-heading-text-font-weight-regular-emphasis: fontGlobals.$global-font-weight-extra-bold;
$alias-han-heading-text-font-weight-regular-strong: fontGlobals.$global-font-weight-black;
$alias-han-heading-text-font-weight-quiet: fontGlobals.$global-font-weight-light;
$alias-han-heading-text-font-weight-quiet-emphasis: fontGlobals.$global-font-weight-regular;
$alias-han-heading-text-font-weight-quiet-strong: fontGlobals.$global-font-weight-bold;
$alias-han-heading-text-font-weight-light: fontGlobals.$global-font-weight-light;
$alias-han-heading-text-font-weight-light-emphasis: fontGlobals.$global-font-weight-regular;
$alias-han-heading-text-font-weight-light-strong: fontGlobals.$global-font-weight-bold;
$alias-han-heading-text-font-weight-strong: fontGlobals.$global-font-weight-black;
$alias-han-heading-text-font-weight-strong-emphasis: fontGlobals.$global-font-weight-black;
$alias-han-heading-text-font-weight-strong-strong: fontGlobals.$global-font-weight-black;
$alias-han-heading-text-font-weight-heavy: fontGlobals.$global-font-weight-black;
$alias-han-heading-text-font-weight-heavy-emphasis: fontGlobals.$global-font-weight-black;
$alias-han-heading-text-font-weight-heavy-strong: fontGlobals.$global-font-weight-black;
$alias-han-body-text-font-weight-regular: fontGlobals.$global-font-weight-regular;
$alias-han-body-text-font-weight-emphasis: fontGlobals.$global-font-weight-bold;
$alias-han-body-text-font-weight-strong: fontGlobals.$global-font-weight-black;
$alias-han-subheading-text-font-weight-regular: fontGlobals.$global-font-weight-bold;
$alias-han-subheading-text-font-weight-emphasis: fontGlobals.$global-font-weight-extra-bold;
$alias-han-subheading-text-font-weight-strong: fontGlobals.$global-font-weight-black;
$alias-han-detail-text-font-weight: fontGlobals.$global-font-weight-regular;
$alias-han-detail-text-font-weight-emphasis: fontGlobals.$global-font-weight-bold;
$alias-han-detail-text-font-weight-strong: fontGlobals.$global-font-weight-black;
$alias-code-text-font-weight-regular: fontGlobals.$global-font-weight-regular;
$alias-code-text-font-weight-strong: fontGlobals.$global-font-weight-bold;
$alias-code-text-line-height: fontGlobals.$global-font-line-height-medium;
$alias-heading-margin-bottom: fontGlobals.$global-font-multiplier-25;
$alias-body-margin-bottom: fontGlobals.$global-font-multiplier-75;
$alias-focus-ring-gap: dimensionGlobals.$global-dimension-static-size-25;
$alias-focus-ring-size: dimensionGlobals.$global-dimension-static-size-25;
$alias-loupe-entry-animation-duration: animationGlobals.$global-animation-duration-300;
$alias-loupe-exit-animation-duration: animationGlobals.$global-animation-duration-300;
