@use '../globals/dimensionGlobals.scss' as dimensionGlobals;

$global-dimension-scale-factor: var(--global-dimension-scale-factor, 1);
$global-dimension-size-0: var(--global-dimension-size-0, 0px);
$global-dimension-size-10: var(--global-dimension-size-10, 1px);
$global-dimension-size-25: var(--global-dimension-size-25, 2px);
$global-dimension-size-40: var(--global-dimension-size-40, 3px);
$global-dimension-size-50: var(--global-dimension-size-50, 4px);
$global-dimension-size-65: var(--global-dimension-size-65, 5px);
$global-dimension-size-75: var(--global-dimension-size-75, 6px);
$global-dimension-size-85: var(--global-dimension-size-85, 7px);
$global-dimension-size-100: var(--global-dimension-size-100, 8px);
$global-dimension-size-115: var(--global-dimension-size-115, 9px);
$global-dimension-size-125: var(--global-dimension-size-125, 10px);
$global-dimension-size-130: var(--global-dimension-size-130, 11px);
$global-dimension-size-150: var(--global-dimension-size-150, 12px);
$global-dimension-size-160: var(--global-dimension-size-160, 13px);
$global-dimension-size-175: var(--global-dimension-size-175, 14px);
$global-dimension-size-200: var(--global-dimension-size-200, 16px);
$global-dimension-size-225: var(--global-dimension-size-225, 18px);
$global-dimension-size-250: var(--global-dimension-size-250, 20px);
$global-dimension-size-300: var(--global-dimension-size-300, 24px);
$global-dimension-size-350: var(--global-dimension-size-350, 28px);
$global-dimension-size-400: var(--global-dimension-size-400, 32px);
$global-dimension-size-450: var(--global-dimension-size-450, 36px);
$global-dimension-size-500: var(--global-dimension-size-500, 40px);
$global-dimension-size-550: var(--global-dimension-size-550, 44px);
$global-dimension-size-600: var(--global-dimension-size-600, 48px);
$global-dimension-size-675: var(--global-dimension-size-675, 54px);
$global-dimension-size-700: var(--global-dimension-size-700, 56px);
$global-dimension-size-800: var(--global-dimension-size-800, 64px);
$global-dimension-size-900: var(--global-dimension-size-900, 72px);
$global-dimension-size-1000: var(--global-dimension-size-1000, 80px);
$global-dimension-size-1200: var(--global-dimension-size-1200, 96px);
$global-dimension-size-1250: var(--global-dimension-size-1250, 100px);
$global-dimension-size-1600: var(--global-dimension-size-1600, 128px);
$global-dimension-size-1700: var(--global-dimension-size-1700, 136px);
$global-dimension-size-2000: var(--global-dimension-size-2000, 160px);
$global-dimension-size-2400: var(--global-dimension-size-2400, 192px);
$global-dimension-size-3000: var(--global-dimension-size-3000, 240px);
$global-dimension-size-3400: var(--global-dimension-size-3400, 272px);
$global-dimension-size-3600: var(--global-dimension-size-3600, 288px);
$global-dimension-size-4600: var(--global-dimension-size-4600, 368px);
$global-dimension-size-5000: var(--global-dimension-size-5000, 400px);
$global-dimension-size-6000: var(--global-dimension-size-6000, 480px);
$global-dimension-font-size-25: var(--global-dimension-font-size-25, 10px);
$global-dimension-font-size-50: var(--global-dimension-font-size-50, 11px);
$global-dimension-font-size-75: var(--global-dimension-font-size-75, 12px);
$global-dimension-font-size-100: var(--global-dimension-font-size-100, 14px);
$global-dimension-font-size-150: var(--global-dimension-font-size-150, 15px);
$global-dimension-font-size-200: var(--global-dimension-font-size-200, 16px);
$global-dimension-font-size-300: var(--global-dimension-font-size-300, 18px);
$global-dimension-font-size-400: var(--global-dimension-font-size-400, 20px);
$global-dimension-font-size-500: var(--global-dimension-font-size-500, 22px);
$global-dimension-font-size-600: var(--global-dimension-font-size-600, 25px);
$global-dimension-font-size-700: var(--global-dimension-font-size-700, 28px);
$global-dimension-font-size-800: var(--global-dimension-font-size-800, 32px);
$global-dimension-font-size-900: var(--global-dimension-font-size-900, 36px);
$global-dimension-font-size-1000: var(--global-dimension-font-size-1000, 40px);
$global-dimension-font-size-1100: var(--global-dimension-font-size-1100, 45px);
$global-dimension-font-size-1200: var(--global-dimension-font-size-1200, 50px);
$global-dimension-font-size-1300: var(--global-dimension-font-size-1300, 60px);
$actionbutton-touch-hit-x: var(--actionbutton-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$actionbutton-touch-hit-y: var(--actionbutton-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$actionbutton-emphasized-touch-hit-x: var(--actionbutton-emphasized-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$actionbutton-emphasized-touch-hit-y: var(--actionbutton-emphasized-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$actionbutton-quiet-touch-hit-x: var(--actionbutton-quiet-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$actionbutton-quiet-touch-hit-y: var(--actionbutton-quiet-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$actionbutton-quiet-emphasized-touch-hit-x: var(--actionbutton-quiet-emphasized-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$actionbutton-quiet-emphasized-touch-hit-y: var(--actionbutton-quiet-emphasized-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$barloader-large-border-radius: var(--barloader-large-border-radius, 3px);
$barloader-large-indeterminate-border-radius: var(--barloader-large-indeterminate-border-radius, 3px);
$barloader-large-over-background-border-radius: var(--barloader-large-over-background-border-radius, 3px);
$barloader-small-border-radius: var(--barloader-small-border-radius, dimensionGlobals.$global-dimension-static-size-25);
$barloader-small-indeterminate-border-radius: var(--barloader-small-indeterminate-border-radius, dimensionGlobals.$global-dimension-static-size-25);
$barloader-small-over-background-border-radius: var(--barloader-small-over-background-border-radius, dimensionGlobals.$global-dimension-static-size-25);
$breadcrumb-compact-item-touch-hit-y: var(--breadcrumb-compact-item-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$breadcrumb-compact-button-touch-hit-y: var(--breadcrumb-compact-button-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$breadcrumb-item-touch-hit-y: var(--breadcrumb-item-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$breadcrumb-button-touch-hit-y: var(--breadcrumb-button-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$breadcrumb-multiline-item-touch-hit-y: var(--breadcrumb-multiline-item-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$breadcrumb-multiline-button-touch-hit-y: var(--breadcrumb-multiline-button-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$button-cta-text-padding-bottom: var(--button-cta-text-padding-bottom, $global-dimension-size-85);
$button-cta-min-width: var(--button-cta-min-width, $global-dimension-size-900);
$button-cta-touch-hit-x: var(--button-cta-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$button-cta-touch-hit-y: var(--button-cta-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$button-over-background-text-padding-bottom: var(--button-over-background-text-padding-bottom, $global-dimension-size-85);
$button-over-background-min-width: var(--button-over-background-min-width, $global-dimension-size-900);
$button-over-background-touch-hit-x: var(--button-over-background-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$button-over-background-touch-hit-y: var(--button-over-background-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$button-primary-text-padding-bottom: var(--button-primary-text-padding-bottom, $global-dimension-size-85);
$button-primary-min-width: var(--button-primary-min-width, $global-dimension-size-900);
$button-primary-touch-hit-x: var(--button-primary-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$button-primary-touch-hit-y: var(--button-primary-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$button-quiet-over-background-text-padding-bottom: var(--button-quiet-over-background-text-padding-bottom, $global-dimension-size-85);
$button-quiet-over-background-min-width: var(--button-quiet-over-background-min-width, $global-dimension-size-900);
$button-quiet-over-background-touch-hit-x: var(--button-quiet-over-background-touch-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$button-quiet-over-background-touch-hit-y: var(--button-quiet-over-background-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$button-quiet-over-background-cursor-hit-x: var(--button-quiet-over-background-cursor-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$button-quiet-primary-text-padding-bottom: var(--button-quiet-primary-text-padding-bottom, $global-dimension-size-85);
$button-quiet-primary-min-width: var(--button-quiet-primary-min-width, $global-dimension-size-900);
$button-quiet-primary-touch-hit-x: var(--button-quiet-primary-touch-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$button-quiet-primary-touch-hit-y: var(--button-quiet-primary-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$button-quiet-primary-cursor-hit-x: var(--button-quiet-primary-cursor-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$button-quiet-secondary-text-padding-bottom: var(--button-quiet-secondary-text-padding-bottom, $global-dimension-size-85);
$button-quiet-secondary-min-width: var(--button-quiet-secondary-min-width, $global-dimension-size-900);
$button-quiet-secondary-touch-hit-x: var(--button-quiet-secondary-touch-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$button-quiet-secondary-touch-hit-y: var(--button-quiet-secondary-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$button-quiet-secondary-cursor-hit-x: var(--button-quiet-secondary-cursor-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$button-quiet-warning-text-padding-bottom: var(--button-quiet-warning-text-padding-bottom, $global-dimension-size-85);
$button-quiet-warning-min-width: var(--button-quiet-warning-min-width, $global-dimension-size-900);
$button-quiet-warning-touch-hit-x: var(--button-quiet-warning-touch-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$button-quiet-warning-touch-hit-y: var(--button-quiet-warning-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$button-quiet-warning-cursor-hit-x: var(--button-quiet-warning-cursor-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$button-secondary-text-padding-bottom: var(--button-secondary-text-padding-bottom, $global-dimension-size-85);
$button-secondary-min-width: var(--button-secondary-min-width, $global-dimension-size-900);
$button-secondary-touch-hit-x: var(--button-secondary-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$button-secondary-touch-hit-y: var(--button-secondary-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$button-warning-text-padding-bottom: var(--button-warning-text-padding-bottom, $global-dimension-size-85);
$button-warning-min-width: var(--button-warning-min-width, $global-dimension-size-900);
$button-warning-touch-hit-x: var(--button-warning-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$button-warning-touch-hit-y: var(--button-warning-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$checkbox-text-gap-key-focus: var(--checkbox-text-gap-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-text-gap-selected-key-focus: var(--checkbox-text-gap-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-text-gap-indeterminate-key-focus: var(--checkbox-text-gap-indeterminate-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-text-gap-error-key-focus: var(--checkbox-text-gap-error-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-text-gap-error-selected-key-focus: var(--checkbox-text-gap-error-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-text-gap-error-indeterminate-key-focus: var(--checkbox-text-gap-error-indeterminate-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-touch-hit-y: var(--checkbox-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$checkbox-emphasized-text-gap-key-focus: var(--checkbox-emphasized-text-gap-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-emphasized-text-gap-selected-key-focus: var(--checkbox-emphasized-text-gap-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-emphasized-text-gap-indeterminate-key-focus: var(--checkbox-emphasized-text-gap-indeterminate-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-emphasized-text-gap-error-key-focus: var(--checkbox-emphasized-text-gap-error-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-emphasized-text-gap-error-selected-key-focus: var(--checkbox-emphasized-text-gap-error-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-emphasized-text-gap-error-indeterminate-key-focus: var(--checkbox-emphasized-text-gap-error-indeterminate-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-emphasized-touch-hit-y: var(--checkbox-emphasized-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$checkbox-quiet-text-gap-key-focus: var(--checkbox-quiet-text-gap-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-quiet-text-gap-selected-key-focus: var(--checkbox-quiet-text-gap-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-quiet-text-gap-indeterminate-key-focus: var(--checkbox-quiet-text-gap-indeterminate-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-quiet-text-gap-error-key-focus: var(--checkbox-quiet-text-gap-error-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-quiet-text-gap-error-selected-key-focus: var(--checkbox-quiet-text-gap-error-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-quiet-text-gap-error-indeterminate-key-focus: var(--checkbox-quiet-text-gap-error-indeterminate-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$checkbox-quiet-touch-hit-y: var(--checkbox-quiet-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$circleloader-medium-border-size: var(--circleloader-medium-border-size, 3px);
$circleloader-medium-over-background-border-size: var(--circleloader-medium-over-background-border-size, 3px);
$circleloader-small-border-size: var(--circleloader-small-border-size, dimensionGlobals.$global-dimension-static-size-25);
$circleloader-small-over-background-border-size: var(--circleloader-small-over-background-border-size, dimensionGlobals.$global-dimension-static-size-25);
$colorhandle-loupe-margin: var(--colorhandle-loupe-margin, dimensionGlobals.$global-dimension-static-size-125);
$colorloupe-colorhandle-gap: var(--colorloupe-colorhandle-gap, dimensionGlobals.$global-dimension-static-size-125);
$colorslider-touch-hit-y: var(--colorslider-touch-hit-y, $global-dimension-size-150);
$colorslider-vertical-touch-hit-x: var(--colorslider-vertical-touch-hit-x, $global-dimension-size-150);
$colorwheel-min-size: var(--colorwheel-min-size, $global-dimension-size-2400);
$colorwheel-touch-hit-outer: var(--colorwheel-touch-hit-outer, $global-dimension-size-150);
$colorwheel-touch-hit-inner: var(--colorwheel-touch-hit-inner, $global-dimension-size-150);
$cyclebutton-touch-hit-x: var(--cyclebutton-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$cyclebutton-touch-hit-y: var(--cyclebutton-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$dialog-confirm-max-width: var(--dialog-confirm-max-width, dimensionGlobals.$global-dimension-static-size-6000);
$dialog-confirm-title-text-size: var(--dialog-confirm-title-text-size, $global-dimension-font-size-300);
$dialog-confirm-description-text-size: var(--dialog-confirm-description-text-size, $global-dimension-font-size-100);
$dialog-confirm-padding: var(--dialog-confirm-padding, dimensionGlobals.$global-dimension-static-size-500);
$dialog-confirm-description-margin-bottom: var(--dialog-confirm-description-margin-bottom, dimensionGlobals.$global-dimension-static-size-600);
$dialog-max-width: var(--dialog-max-width, dimensionGlobals.$global-dimension-static-size-6000);
$dialog-title-text-size: var(--dialog-title-text-size, $global-dimension-font-size-300);
$dialog-content-text-size: var(--dialog-content-text-size, $global-dimension-font-size-100);
$dialog-padding: var(--dialog-padding, dimensionGlobals.$global-dimension-static-size-500);
$dialog-content-margin-bottom: var(--dialog-content-margin-bottom, dimensionGlobals.$global-dimension-static-size-600);
$dialog-destructive-max-width: var(--dialog-destructive-max-width, dimensionGlobals.$global-dimension-static-size-6000);
$dialog-destructive-title-text-size: var(--dialog-destructive-title-text-size, $global-dimension-font-size-300);
$dialog-destructive-description-text-size: var(--dialog-destructive-description-text-size, $global-dimension-font-size-100);
$dialog-destructive-padding: var(--dialog-destructive-padding, dimensionGlobals.$global-dimension-static-size-500);
$dialog-destructive-description-margin-bottom: var(--dialog-destructive-description-margin-bottom, dimensionGlobals.$global-dimension-static-size-600);
$dialog-error-max-width: var(--dialog-error-max-width, dimensionGlobals.$global-dimension-static-size-6000);
$dialog-error-title-text-size: var(--dialog-error-title-text-size, $global-dimension-font-size-300);
$dialog-error-description-text-size: var(--dialog-error-description-text-size, $global-dimension-font-size-100);
$dialog-error-padding: var(--dialog-error-padding, dimensionGlobals.$global-dimension-static-size-500);
$dialog-error-description-margin-bottom: var(--dialog-error-description-margin-bottom, dimensionGlobals.$global-dimension-static-size-600);
$dialog-info-max-width: var(--dialog-info-max-width, dimensionGlobals.$global-dimension-static-size-6000);
$dialog-info-title-text-size: var(--dialog-info-title-text-size, $global-dimension-font-size-300);
$dialog-info-description-text-size: var(--dialog-info-description-text-size, $global-dimension-font-size-100);
$dialog-info-padding: var(--dialog-info-padding, dimensionGlobals.$global-dimension-static-size-500);
$dialog-info-description-margin-bottom: var(--dialog-info-description-margin-bottom, dimensionGlobals.$global-dimension-static-size-600);
$dropdown-touch-hit-x: var(--dropdown-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$dropdown-touch-hit-y: var(--dropdown-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$dropdown-quiet-touch-hit-y: var(--dropdown-quiet-touch-hit-y, dimensionGlobals.$global-dimension-static-size-400);
$dropdown-thumbnail-small-touch-hit-x: var(--dropdown-thumbnail-small-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$dropdown-thumbnail-small-touch-hit-y: var(--dropdown-thumbnail-small-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$fieldbutton-quiet-min-width: var(--fieldbutton-quiet-min-width, $global-dimension-size-225);
$icon-arrow-down-small-height: var(--icon-arrow-down-small-height, $global-dimension-size-125);
$icon-arrow-left-medium-height: var(--icon-arrow-left-medium-height, $global-dimension-size-125);
$icon-checkmark-medium-width: var(--icon-checkmark-medium-width, $global-dimension-size-150);
$icon-checkmark-medium-height: var(--icon-checkmark-medium-height, $global-dimension-size-150);
$icon-checkmark-small-width: var(--icon-checkmark-small-width, $global-dimension-size-125);
$icon-checkmark-small-height: var(--icon-checkmark-small-height, $global-dimension-size-125);
$icon-chevron-down-medium-width: var(--icon-chevron-down-medium-width, $global-dimension-size-125);
$icon-chevron-left-large-width: var(--icon-chevron-left-large-width, $global-dimension-size-150);
$icon-chevron-left-medium-height: var(--icon-chevron-left-medium-height, $global-dimension-size-125);
$icon-chevron-right-large-width: var(--icon-chevron-right-large-width, $global-dimension-size-150);
$icon-chevron-right-medium-height: var(--icon-chevron-right-medium-height, $global-dimension-size-125);
$icon-cross-large-width: var(--icon-cross-large-width, $global-dimension-size-150);
$icon-cross-large-height: var(--icon-cross-large-height, $global-dimension-size-150);
$icon-dash-small-width: var(--icon-dash-small-width, $global-dimension-size-125);
$icon-dash-small-height: var(--icon-dash-small-height, $global-dimension-size-125);
$icon-skip-left-width: var(--icon-skip-left-width, 9px);
$icon-skip-left-height: var(--icon-skip-left-height, $global-dimension-size-125);
$icon-skip-right-width: var(--icon-skip-right-width, 9px);
$icon-skip-right-height: var(--icon-skip-right-height, $global-dimension-size-125);
$icon-triplegripper-width: var(--icon-triplegripper-width, $global-dimension-size-125);
$listitem-option-icon-size: var(--listitem-option-icon-size, dimensionGlobals.$global-dimension-static-size-150);
$listitem-option-icon-margin-top: var(--listitem-option-icon-margin-top, dimensionGlobals.$global-dimension-static-size-65);
$listitem-option-height: var(--listitem-option-height, dimensionGlobals.$global-dimension-static-size-400);
$listitem-option-icon-padding-y: var(--listitem-option-icon-padding-y, dimensionGlobals.$global-dimension-static-size-125);
$listitem-thumbnail-option-icon-margin-top: var(--listitem-thumbnail-option-icon-margin-top, dimensionGlobals.$global-dimension-static-size-65);
$listitem-thumbnail-option-icon-padding-y: var(--listitem-thumbnail-option-icon-padding-y, dimensionGlobals.$global-dimension-static-size-125);
$selectlist-thumbnail-small-option-icon-margin-top: var(--selectlist-thumbnail-small-option-icon-margin-top, dimensionGlobals.$global-dimension-static-size-65);
$selectlist-thumbnail-small-option-icon-padding-y: var(--selectlist-thumbnail-small-option-icon-padding-y, dimensionGlobals.$global-dimension-static-size-125);
$selectlist-option-icon-size: var(--selectlist-option-icon-size, dimensionGlobals.$global-dimension-static-size-150);
$selectlist-option-icon-padding-y: var(--selectlist-option-icon-padding-y, dimensionGlobals.$global-dimension-static-size-125);
$selectlist-option-icon-margin-top: var(--selectlist-option-icon-margin-top, dimensionGlobals.$global-dimension-static-size-65);
$selectlist-option-height: var(--selectlist-option-height, dimensionGlobals.$global-dimension-static-size-400);
$selectlist-thumbnail-option-icon-padding-y: var(--selectlist-thumbnail-option-icon-padding-y, dimensionGlobals.$global-dimension-static-size-125);
$loader-bar-large-border-radius: var(--loader-bar-large-border-radius, 3px);
$loader-bar-large-over-background-border-radius: var(--loader-bar-large-over-background-border-radius, 3px);
$loader-bar-small-border-radius: var(--loader-bar-small-border-radius, dimensionGlobals.$global-dimension-static-size-25);
$loader-bar-small-over-background-border-radius: var(--loader-bar-small-over-background-border-radius, dimensionGlobals.$global-dimension-static-size-25);
$loader-circle-medium-border-size: var(--loader-circle-medium-border-size, 3px);
$loader-circle-medium-over-background-border-size: var(--loader-circle-medium-over-background-border-size, 3px);
$loader-circle-small-border-size: var(--loader-circle-small-border-size, dimensionGlobals.$global-dimension-static-size-25);
$loader-circle-small-over-background-border-size: var(--loader-circle-small-over-background-border-size, dimensionGlobals.$global-dimension-static-size-25);
$meter-large-border-radius: var(--meter-large-border-radius, 3px);
$meter-small-border-radius: var(--meter-small-border-radius, dimensionGlobals.$global-dimension-static-size-25);
$pagination-page-button-line-height: var(--pagination-page-button-line-height, 26px);
$picker-touch-hit-x: var(--picker-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$picker-touch-hit-y: var(--picker-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$picker-quiet-min-width: var(--picker-quiet-min-width, $global-dimension-size-225);
$picker-quiet-touch-hit-y: var(--picker-quiet-touch-hit-y, dimensionGlobals.$global-dimension-static-size-400);
$picker-thumbnail-small-touch-hit-x: var(--picker-thumbnail-small-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$picker-thumbnail-small-touch-hit-y: var(--picker-thumbnail-small-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$progressbar-large-border-radius: var(--progressbar-large-border-radius, 3px);
$progressbar-large-indeterminate-border-radius: var(--progressbar-large-indeterminate-border-radius, 3px);
$progressbar-large-over-background-border-radius: var(--progressbar-large-over-background-border-radius, 3px);
$progressbar-small-border-radius: var(--progressbar-small-border-radius, dimensionGlobals.$global-dimension-static-size-25);
$progressbar-small-indeterminate-border-radius: var(--progressbar-small-indeterminate-border-radius, dimensionGlobals.$global-dimension-static-size-25);
$progressbar-small-over-background-border-radius: var(--progressbar-small-over-background-border-radius, dimensionGlobals.$global-dimension-static-size-25);
$progresscircle-medium-border-size: var(--progresscircle-medium-border-size, 3px);
$progresscircle-medium-over-background-border-size: var(--progresscircle-medium-over-background-border-size, 3px);
$progresscircle-small-border-size: var(--progresscircle-small-border-size, dimensionGlobals.$global-dimension-static-size-25);
$progresscircle-small-indeterminate-border-size: var(--progresscircle-small-indeterminate-border-size, dimensionGlobals.$global-dimension-static-size-25);
$progresscircle-small-over-background-border-size: var(--progresscircle-small-over-background-border-size, dimensionGlobals.$global-dimension-static-size-25);
$progresscircle-medium-indeterminate-border-size: var(--progresscircle-medium-indeterminate-border-size, 3px);
$radio-text-gap-key-focus: var(--radio-text-gap-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-text-gap-selected-key-focus: var(--radio-text-gap-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-text-gap-error-key-focus: var(--radio-text-gap-error-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-text-gap-error-selected-key-focus: var(--radio-text-gap-error-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-margin-bottom: var(--radio-margin-bottom, 0px);
$radio-touch-hit-y: var(--radio-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$radio-emphasized-text-gap-key-focus: var(--radio-emphasized-text-gap-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-emphasized-text-gap-selected-key-focus: var(--radio-emphasized-text-gap-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-emphasized-text-gap-error-key-focus: var(--radio-emphasized-text-gap-error-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-emphasized-text-gap-error-selected-key-focus: var(--radio-emphasized-text-gap-error-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-emphasized-margin-bottom: var(--radio-emphasized-margin-bottom, 0px);
$radio-emphasized-touch-hit-y: var(--radio-emphasized-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$radio-quiet-text-gap-key-focus: var(--radio-quiet-text-gap-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-quiet-text-gap-selected-key-focus: var(--radio-quiet-text-gap-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-quiet-text-gap-error-key-focus: var(--radio-quiet-text-gap-error-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-quiet-text-gap-error-selected-key-focus: var(--radio-quiet-text-gap-error-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$radio-quiet-margin-bottom: var(--radio-quiet-margin-bottom, 0px);
$radio-quiet-touch-hit-y: var(--radio-quiet-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$rating-icon-width: var(--rating-icon-width, 24px);
$rating-indicator-width: var(--rating-indicator-width, 16px);
$rating-touch-hit-y: var(--rating-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$rating-emphasized-icon-width: var(--rating-emphasized-icon-width, 24px);
$rating-emphasized-indicator-width: var(--rating-emphasized-indicator-width, 16px);
$rating-emphasized-touch-hit-y: var(--rating-emphasized-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$rating-quiet-icon-width: var(--rating-quiet-icon-width, 24px);
$rating-quiet-indicator-width: var(--rating-quiet-indicator-width, 16px);
$rating-quiet-touch-hit-y: var(--rating-quiet-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$search-touch-hit-x: var(--search-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$search-touch-hit-y: var(--search-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$search-icon-frame: var(--search-icon-frame, dimensionGlobals.$global-dimension-static-size-400);
$search-quiet-touch-hit-x: var(--search-quiet-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$search-quiet-touch-hit-y: var(--search-quiet-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$search-quiet-icon-frame: var(--search-quiet-icon-frame, dimensionGlobals.$global-dimension-static-size-400);
$sidenav-item-touch-hit-bottom: var(--sidenav-item-touch-hit-bottom, dimensionGlobals.$global-dimension-static-size-25);
$sidenav-multilevel-item-touch-hit-bottom: var(--sidenav-multilevel-item-touch-hit-bottom, dimensionGlobals.$global-dimension-static-size-25);
$slider-track-touch-hit-y: var(--slider-track-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$slider-handle-touch-hit-x: var(--slider-handle-touch-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$slider-handle-touch-hit-y: var(--slider-handle-touch-hit-y, dimensionGlobals.$global-dimension-static-size-200);
$slider-editable-track-touch-hit-y: var(--slider-editable-track-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$slider-editable-handle-touch-hit-x: var(--slider-editable-handle-touch-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$slider-editable-handle-touch-hit-y: var(--slider-editable-handle-touch-hit-y, dimensionGlobals.$global-dimension-static-size-200);
$slider-fill-track-touch-hit-y: var(--slider-fill-track-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$slider-fill-handle-touch-hit-x: var(--slider-fill-handle-touch-hit-x, dimensionGlobals.$global-dimension-static-size-200);
$slider-fill-handle-touch-hit-y: var(--slider-fill-handle-touch-hit-y, dimensionGlobals.$global-dimension-static-size-200);
$switch-focus-ring-border-radius-key-focus: var(--switch-focus-ring-border-radius-key-focus, dimensionGlobals.$global-dimension-static-size-130);
$switch-text-gap-key-focus: var(--switch-text-gap-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-text-gap-selected-key-focus: var(--switch-text-gap-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-text-gap-error-key-focus: var(--switch-text-gap-error-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-text-gap-error-selected-key-focus: var(--switch-text-gap-error-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-track-width: var(--switch-track-width, 26px);
$switch-handle-border-radius: var(--switch-handle-border-radius, 7px);
$switch-touch-hit-y: var(--switch-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$switch-emphasized-focus-ring-border-radius-key-focus: var(--switch-emphasized-focus-ring-border-radius-key-focus, dimensionGlobals.$global-dimension-static-size-130);
$switch-emphasized-text-gap-key-focus: var(--switch-emphasized-text-gap-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-emphasized-text-gap-selected-key-focus: var(--switch-emphasized-text-gap-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-emphasized-text-gap-error-key-focus: var(--switch-emphasized-text-gap-error-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-emphasized-text-gap-error-selected-key-focus: var(--switch-emphasized-text-gap-error-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-emphasized-track-width: var(--switch-emphasized-track-width, 26px);
$switch-emphasized-handle-border-radius: var(--switch-emphasized-handle-border-radius, 7px);
$switch-emphasized-touch-hit-y: var(--switch-emphasized-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$switch-quiet-focus-ring-border-radius-key-focus: var(--switch-quiet-focus-ring-border-radius-key-focus, dimensionGlobals.$global-dimension-static-size-130);
$switch-quiet-text-gap-key-focus: var(--switch-quiet-text-gap-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-quiet-text-gap-selected-key-focus: var(--switch-quiet-text-gap-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-quiet-text-gap-error-key-focus: var(--switch-quiet-text-gap-error-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-quiet-text-gap-error-selected-key-focus: var(--switch-quiet-text-gap-error-selected-key-focus, dimensionGlobals.$global-dimension-static-size-115);
$switch-quiet-track-width: var(--switch-quiet-track-width, 26px);
$switch-quiet-handle-border-radius: var(--switch-quiet-handle-border-radius, 7px);
$switch-quiet-touch-hit-y: var(--switch-quiet-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$tabs-compact-focus-ring-border-radius: var(--tabs-compact-focus-ring-border-radius, 5px);
$tabs-compact-margin-left: var(--tabs-compact-margin-left, -8px);
$tabs-compact-margin-right: var(--tabs-compact-margin-right, -8px);
$tabs-compact-vertical-focus-ring-border-radius: var(--tabs-compact-vertical-focus-ring-border-radius, 5px);
$tabs-compact-vertical-emphasized-focus-ring-border-radius: var(--tabs-compact-vertical-emphasized-focus-ring-border-radius, 5px);
$tabs-baseline: var(--tabs-baseline, $global-dimension-size-225);
$tabs-focus-ring-border-radius: var(--tabs-focus-ring-border-radius, 5px);
$tabs-margin-left: var(--tabs-margin-left, -8px);
$tabs-margin-right: var(--tabs-margin-right, -8px);
$tabs-emphasized-baseline: var(--tabs-emphasized-baseline, $global-dimension-size-225);
$tabs-emphasized-focus-ring-border-radius: var(--tabs-emphasized-focus-ring-border-radius, 5px);
$tabs-emphasized-margin-left: var(--tabs-emphasized-margin-left, -8px);
$tabs-emphasized-margin-right: var(--tabs-emphasized-margin-right, -8px);
$tabs-quiet-baseline: var(--tabs-quiet-baseline, $global-dimension-size-225);
$tabs-quiet-focus-ring-border-radius: var(--tabs-quiet-focus-ring-border-radius, 5px);
$tabs-quiet-margin-left: var(--tabs-quiet-margin-left, -8px);
$tabs-quiet-margin-right: var(--tabs-quiet-margin-right, -8px);
$tabs-quiet-compact-focus-ring-border-radius: var(--tabs-quiet-compact-focus-ring-border-radius, 5px);
$tabs-quiet-compact-margin-left: var(--tabs-quiet-compact-margin-left, -8px);
$tabs-quiet-compact-margin-right: var(--tabs-quiet-compact-margin-right, -8px);
$tabs-quiet-compact-emphasized-focus-ring-border-radius: var(--tabs-quiet-compact-emphasized-focus-ring-border-radius, 5px);
$tabs-quiet-compact-emphasized-margin-left: var(--tabs-quiet-compact-emphasized-margin-left, -8px);
$tabs-quiet-compact-emphasized-margin-right: var(--tabs-quiet-compact-emphasized-margin-right, -8px);
$tabs-quiet-compact-vertical-focus-ring-border-radius: var(--tabs-quiet-compact-vertical-focus-ring-border-radius, 5px);
$tabs-quiet-compact-vertical-emphasized-focus-ring-border-radius: var(--tabs-quiet-compact-vertical-emphasized-focus-ring-border-radius, 5px);
$tabs-quiet-emphasized-baseline: var(--tabs-quiet-emphasized-baseline, $global-dimension-size-225);
$tabs-quiet-emphasized-focus-ring-border-radius: var(--tabs-quiet-emphasized-focus-ring-border-radius, 5px);
$tabs-quiet-emphasized-margin-left: var(--tabs-quiet-emphasized-margin-left, -8px);
$tabs-quiet-emphasized-margin-right: var(--tabs-quiet-emphasized-margin-right, -8px);
$tabs-quiet-vertical-baseline: var(--tabs-quiet-vertical-baseline, $global-dimension-size-225);
$tabs-quiet-vertical-focus-ring-border-radius: var(--tabs-quiet-vertical-focus-ring-border-radius, 5px);
$tabs-quiet-vertical-emphasized-baseline: var(--tabs-quiet-vertical-emphasized-baseline, $global-dimension-size-225);
$tabs-quiet-vertical-emphasized-focus-ring-border-radius: var(--tabs-quiet-vertical-emphasized-focus-ring-border-radius, 5px);
$tabs-vertical-baseline: var(--tabs-vertical-baseline, $global-dimension-size-225);
$tabs-vertical-focus-ring-border-radius: var(--tabs-vertical-focus-ring-border-radius, 5px);
$textarea-touch-hit-x: var(--textarea-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$textarea-touch-hit-y: var(--textarea-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$textarea-icon-frame: var(--textarea-icon-frame, dimensionGlobals.$global-dimension-static-size-400);
$textarea-quiet-touch-hit-x: var(--textarea-quiet-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$textarea-quiet-touch-hit-y: var(--textarea-quiet-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$textarea-quiet-icon-frame: var(--textarea-quiet-icon-frame, dimensionGlobals.$global-dimension-static-size-400);
$textfield-touch-hit-x: var(--textfield-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$textfield-touch-hit-y: var(--textfield-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$textfield-icon-frame: var(--textfield-icon-frame, dimensionGlobals.$global-dimension-static-size-400);
$textfield-quiet-touch-hit-x: var(--textfield-quiet-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$textfield-quiet-touch-hit-y: var(--textfield-quiet-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$textfield-quiet-icon-frame: var(--textfield-quiet-icon-frame, dimensionGlobals.$global-dimension-static-size-400);
$tool-touch-hit-x: var(--tool-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$tool-touch-hit-y: var(--tool-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$tool-high-emphasis-touch-hit-x: var(--tool-high-emphasis-touch-hit-x, dimensionGlobals.$global-dimension-static-size-100);
$tool-high-emphasis-touch-hit-y: var(--tool-high-emphasis-touch-hit-y, dimensionGlobals.$global-dimension-static-size-100);
$tooltip-padding-bottom: var(--tooltip-padding-bottom, 5px);
$tooltip-content-max-width: var(--tooltip-content-max-width, 101px);
$tooltip-info-padding-bottom: var(--tooltip-info-padding-bottom, 5px);
$tooltip-info-content-max-width: var(--tooltip-info-content-max-width, 101px);
$tooltip-negative-padding-bottom: var(--tooltip-negative-padding-bottom, 5px);
$tooltip-negative-content-max-width: var(--tooltip-negative-content-max-width, 101px);
$tooltip-positive-padding-bottom: var(--tooltip-positive-padding-bottom, 5px);
$tooltip-positive-content-max-width: var(--tooltip-positive-content-max-width, 101px);
