@mixin scale-large {
  --global-dimension-scale-factor: 1.25;
  --global-dimension-size-0: 0px;
  --global-dimension-size-10: 1px;
  --global-dimension-size-25: 2px;
  --global-dimension-size-40: 4px;
  --global-dimension-size-50: 5px;
  --global-dimension-size-65: 6px;
  --global-dimension-size-75: 8px;
  --global-dimension-size-85: 9px;
  --global-dimension-size-100: 10px;
  --global-dimension-size-115: 11px;
  --global-dimension-size-125: 13px;
  --global-dimension-size-130: 14px;
  --global-dimension-size-150: 15px;
  --global-dimension-size-160: 16px;
  --global-dimension-size-175: 18px;
  --global-dimension-size-200: 20px;
  --global-dimension-size-225: 22px;
  --global-dimension-size-250: 25px;
  --global-dimension-size-300: 30px;
  --global-dimension-size-350: 35px;
  --global-dimension-size-400: 40px;
  --global-dimension-size-450: 45px;
  --global-dimension-size-500: 50px;
  --global-dimension-size-550: 56px;
  --global-dimension-size-600: 60px;
  --global-dimension-size-675: 68px;
  --global-dimension-size-700: 70px;
  --global-dimension-size-800: 80px;
  --global-dimension-size-900: 90px;
  --global-dimension-size-1000: 100px;
  --global-dimension-size-1200: 120px;
  --global-dimension-size-1250: 125px;
  --global-dimension-size-1600: 160px;
  --global-dimension-size-1700: 170px;
  --global-dimension-size-2000: 200px;
  --global-dimension-size-2400: 240px;
  --global-dimension-size-3000: 300px;
  --global-dimension-size-3400: 340px;
  --global-dimension-size-3600: 360px;
  --global-dimension-size-4600: 460px;
  --global-dimension-size-5000: 500px;
  --global-dimension-size-6000: 600px;
  --global-dimension-font-size-25: 12px;
  --global-dimension-font-size-50: 13px;
  --global-dimension-font-size-75: 15px;
  --global-dimension-font-size-100: 17px;
  --global-dimension-font-size-150: 18px;
  --global-dimension-font-size-200: 19px;
  --global-dimension-font-size-300: 22px;
  --global-dimension-font-size-400: 24px;
  --global-dimension-font-size-500: 27px;
  --global-dimension-font-size-600: 31px;
  --global-dimension-font-size-700: 34px;
  --global-dimension-font-size-800: 39px;
  --global-dimension-font-size-900: 44px;
  --global-dimension-font-size-1000: 49px;
  --global-dimension-font-size-1100: 55px;
  --global-dimension-font-size-1200: 62px;
  --global-dimension-font-size-1300: 70px;
  --actionbutton-touch-hit-x: var(--global-dimension-static-size-50);
  --actionbutton-touch-hit-y: var(--global-dimension-static-size-50);
  --actionbutton-emphasized-touch-hit-x: var(--global-dimension-static-size-50);
  --actionbutton-emphasized-touch-hit-y: var(--global-dimension-static-size-50);
  --actionbutton-quiet-touch-hit-x: var(--global-dimension-static-size-50);
  --actionbutton-quiet-touch-hit-y: var(--global-dimension-static-size-50);
  --actionbutton-quiet-emphasized-touch-hit-x: var(--global-dimension-static-size-50);
  --actionbutton-quiet-emphasized-touch-hit-y: var(--global-dimension-static-size-50);
  --barloader-large-border-radius: 4px;
  --barloader-large-indeterminate-border-radius: 4px;
  --barloader-large-over-background-border-radius: 4px;
  --barloader-small-border-radius: 3px;
  --barloader-small-indeterminate-border-radius: 3px;
  --barloader-small-over-background-border-radius: 3px;
  --breadcrumb-compact-item-touch-hit-y: var(--global-dimension-static-size-50);
  --breadcrumb-compact-button-touch-hit-y: var(--global-dimension-static-size-50);
  --breadcrumb-item-touch-hit-y: var(--global-dimension-static-size-50);
  --breadcrumb-button-touch-hit-y: var(--global-dimension-static-size-50);
  --breadcrumb-multiline-item-touch-hit-y: var(--global-dimension-static-size-50);
  --breadcrumb-multiline-button-touch-hit-y: var(--global-dimension-static-size-50);
  --button-cta-text-padding-bottom: var(--global-dimension-size-100);
  --button-cta-min-width: 90px;
  --button-cta-touch-hit-x: var(--global-dimension-static-size-50);
  --button-cta-touch-hit-y: var(--global-dimension-static-size-50);
  --button-over-background-text-padding-bottom: var(--global-dimension-size-100);
  --button-over-background-min-width: 90px;
  --button-over-background-touch-hit-x: var(--global-dimension-static-size-50);
  --button-over-background-touch-hit-y: var(--global-dimension-static-size-50);
  --button-primary-text-padding-bottom: var(--global-dimension-size-100);
  --button-primary-min-width: 90px;
  --button-primary-touch-hit-x: var(--global-dimension-static-size-50);
  --button-primary-touch-hit-y: var(--global-dimension-static-size-50);
  --button-quiet-over-background-text-padding-bottom: var(--global-dimension-size-100);
  --button-quiet-over-background-min-width: 90px;
  --button-quiet-over-background-touch-hit-x: var(--global-dimension-static-size-250);
  --button-quiet-over-background-touch-hit-y: var(--global-dimension-static-size-50);
  --button-quiet-over-background-cursor-hit-x: var(--global-dimension-static-size-250);
  --button-quiet-primary-text-padding-bottom: var(--global-dimension-size-100);
  --button-quiet-primary-min-width: 90px;
  --button-quiet-primary-touch-hit-x: var(--global-dimension-static-size-250);
  --button-quiet-primary-touch-hit-y: var(--global-dimension-static-size-50);
  --button-quiet-primary-cursor-hit-x: var(--global-dimension-static-size-250);
  --button-quiet-secondary-text-padding-bottom: var(--global-dimension-size-100);
  --button-quiet-secondary-min-width: 90px;
  --button-quiet-secondary-touch-hit-x: var(--global-dimension-static-size-250);
  --button-quiet-secondary-touch-hit-y: var(--global-dimension-static-size-50);
  --button-quiet-secondary-cursor-hit-x: var(--global-dimension-static-size-250);
  --button-quiet-warning-text-padding-bottom: var(--global-dimension-size-100);
  --button-quiet-warning-min-width: 90px;
  --button-quiet-warning-touch-hit-x: var(--global-dimension-static-size-250);
  --button-quiet-warning-touch-hit-y: var(--global-dimension-static-size-50);
  --button-quiet-warning-cursor-hit-x: var(--global-dimension-static-size-250);
  --button-secondary-text-padding-bottom: var(--global-dimension-size-100);
  --button-secondary-min-width: 90px;
  --button-secondary-touch-hit-x: var(--global-dimension-static-size-50);
  --button-secondary-touch-hit-y: var(--global-dimension-static-size-50);
  --button-warning-text-padding-bottom: var(--global-dimension-size-100);
  --button-warning-min-width: 90px;
  --button-warning-touch-hit-x: var(--global-dimension-static-size-50);
  --button-warning-touch-hit-y: var(--global-dimension-static-size-50);
  --checkbox-text-gap-key-focus: var(--global-dimension-static-size-150);
  --checkbox-text-gap-selected-key-focus: var(--global-dimension-static-size-150);
  --checkbox-text-gap-indeterminate-key-focus: var(--global-dimension-static-size-150);
  --checkbox-text-gap-error-key-focus: var(--global-dimension-static-size-150);
  --checkbox-text-gap-error-selected-key-focus: var(--global-dimension-static-size-150);
  --checkbox-text-gap-error-indeterminate-key-focus: var(--global-dimension-static-size-150);
  --checkbox-touch-hit-y: var(--global-dimension-static-size-50);
  --checkbox-emphasized-text-gap-key-focus: var(--global-dimension-static-size-150);
  --checkbox-emphasized-text-gap-selected-key-focus: var(--global-dimension-static-size-150);
  --checkbox-emphasized-text-gap-indeterminate-key-focus: var(--global-dimension-static-size-150);
  --checkbox-emphasized-text-gap-error-key-focus: var(--global-dimension-static-size-150);
  --checkbox-emphasized-text-gap-error-selected-key-focus: var(--global-dimension-static-size-150);
  --checkbox-emphasized-text-gap-error-indeterminate-key-focus: var(--global-dimension-static-size-150);
  --checkbox-emphasized-touch-hit-y: var(--global-dimension-static-size-50);
  --checkbox-quiet-text-gap-key-focus: var(--global-dimension-static-size-150);
  --checkbox-quiet-text-gap-selected-key-focus: var(--global-dimension-static-size-150);
  --checkbox-quiet-text-gap-indeterminate-key-focus: var(--global-dimension-static-size-150);
  --checkbox-quiet-text-gap-error-key-focus: var(--global-dimension-static-size-150);
  --checkbox-quiet-text-gap-error-selected-key-focus: var(--global-dimension-static-size-150);
  --checkbox-quiet-text-gap-error-indeterminate-key-focus: var(--global-dimension-static-size-150);
  --checkbox-quiet-touch-hit-y: var(--global-dimension-static-size-50);
  --circleloader-medium-border-size: var(--global-dimension-static-size-50);
  --circleloader-medium-over-background-border-size: var(--global-dimension-static-size-50);
  --circleloader-small-border-size: 3px;
  --circleloader-small-over-background-border-size: 3px;
  --colorhandle-loupe-margin: var(--global-dimension-static-size-100);
  --colorloupe-colorhandle-gap: var(--global-dimension-static-size-100);
  --colorslider-touch-hit-y: var(--global-dimension-size-85);
  --colorslider-vertical-touch-hit-x: var(--global-dimension-size-85);
  --colorwheel-min-size: var(--global-dimension-static-size-2600);
  --colorwheel-touch-hit-outer: var(--global-dimension-size-85);
  --colorwheel-touch-hit-inner: var(--global-dimension-size-85);
  --cyclebutton-touch-hit-x: var(--global-dimension-static-size-50);
  --cyclebutton-touch-hit-y: var(--global-dimension-static-size-50);
  --dialog-confirm-max-width: var(--global-dimension-static-size-5000);
  --dialog-confirm-title-text-size: var(--global-dimension-font-size-200);
  --dialog-confirm-description-text-size: var(--global-dimension-font-size-75);
  --dialog-confirm-padding: var(--global-dimension-static-size-300);
  --dialog-confirm-description-margin-bottom: var(--global-dimension-static-size-500);
  --dialog-max-width: var(--global-dimension-static-size-5000);
  --dialog-title-text-size: var(--global-dimension-font-size-200);
  --dialog-content-text-size: var(--global-dimension-font-size-75);
  --dialog-padding: var(--global-dimension-static-size-300);
  --dialog-content-margin-bottom: var(--global-dimension-static-size-500);
  --dialog-destructive-max-width: var(--global-dimension-static-size-5000);
  --dialog-destructive-title-text-size: var(--global-dimension-font-size-200);
  --dialog-destructive-description-text-size: var(--global-dimension-font-size-75);
  --dialog-destructive-padding: var(--global-dimension-static-size-300);
  --dialog-destructive-description-margin-bottom: var(--global-dimension-static-size-500);
  --dialog-error-max-width: var(--global-dimension-static-size-5000);
  --dialog-error-title-text-size: var(--global-dimension-font-size-200);
  --dialog-error-description-text-size: var(--global-dimension-font-size-75);
  --dialog-error-padding: var(--global-dimension-static-size-300);
  --dialog-error-description-margin-bottom: var(--global-dimension-static-size-500);
  --dialog-info-max-width: var(--global-dimension-static-size-5000);
  --dialog-info-title-text-size: var(--global-dimension-font-size-200);
  --dialog-info-description-text-size: var(--global-dimension-font-size-75);
  --dialog-info-padding: var(--global-dimension-static-size-300);
  --dialog-info-description-margin-bottom: var(--global-dimension-static-size-500);
  --dropdown-touch-hit-x: var(--global-dimension-static-size-50);
  --dropdown-touch-hit-y: var(--global-dimension-static-size-50);
  --dropdown-quiet-touch-hit-y: var(--global-dimension-static-size-50);
  --dropdown-thumbnail-small-touch-hit-x: var(--global-dimension-static-size-50);
  --dropdown-thumbnail-small-touch-hit-y: var(--global-dimension-static-size-50);
  --fieldbutton-quiet-min-width: var(--global-dimension-size-200);
  --icon-arrow-down-small-height: 12px;
  --icon-arrow-left-medium-height: 12px;
  --icon-checkmark-medium-width: 16px;
  --icon-checkmark-medium-height: 16px;
  --icon-checkmark-small-width: 12px;
  --icon-checkmark-small-height: 12px;
  --icon-chevron-down-medium-width: 12px;
  --icon-chevron-left-large-width: 16px;
  --icon-chevron-left-medium-height: 12px;
  --icon-chevron-right-large-width: 16px;
  --icon-chevron-right-medium-height: 12px;
  --icon-cross-large-width: 16px;
  --icon-cross-large-height: 16px;
  --icon-dash-small-width: 12px;
  --icon-dash-small-height: 12px;
  --icon-skip-left-width: 10px;
  --icon-skip-left-height: 12px;
  --icon-skip-right-width: 10px;
  --icon-skip-right-height: 12px;
  --icon-triplegripper-width: 12px;
  --listitem-option-icon-size: var(--global-dimension-static-size-200);
  --listitem-option-icon-margin-top: var(--global-dimension-static-size-50);
  --listitem-option-height: var(--global-dimension-static-size-600);
  --listitem-option-icon-padding-y: var(--global-dimension-static-size-200);
  --listitem-thumbnail-option-icon-margin-top: var(--global-dimension-static-size-50);
  --listitem-thumbnail-option-icon-padding-y: var(--global-dimension-static-size-200);
  --selectlist-thumbnail-small-option-icon-margin-top: var(--global-dimension-static-size-50);
  --selectlist-thumbnail-small-option-icon-padding-y: var(--global-dimension-static-size-200);
  --selectlist-option-icon-size: var(--global-dimension-static-size-200);
  --selectlist-option-icon-padding-y: var(--global-dimension-static-size-200);
  --selectlist-option-icon-margin-top: var(--global-dimension-static-size-50);
  --selectlist-option-height: var(--global-dimension-static-size-600);
  --selectlist-thumbnail-option-icon-padding-y: var(--global-dimension-static-size-200);
  --loader-bar-large-border-radius: 4px;
  --loader-bar-large-over-background-border-radius: 4px;
  --loader-bar-small-border-radius: 3px;
  --loader-bar-small-over-background-border-radius: 3px;
  --loader-circle-medium-border-size: var(--global-dimension-static-size-50);
  --loader-circle-medium-over-background-border-size: var(--global-dimension-static-size-50);
  --loader-circle-small-border-size: 3px;
  --loader-circle-small-over-background-border-size: 3px;
  --meter-large-border-radius: 4px;
  --meter-small-border-radius: 3px;
  --pagination-page-button-line-height: 32px;
  --picker-touch-hit-x: var(--global-dimension-static-size-50);
  --picker-touch-hit-y: var(--global-dimension-static-size-50);
  --picker-quiet-min-width: var(--global-dimension-size-200);
  --picker-quiet-touch-hit-y: var(--global-dimension-static-size-50);
  --picker-thumbnail-small-touch-hit-x: var(--global-dimension-static-size-50);
  --picker-thumbnail-small-touch-hit-y: var(--global-dimension-static-size-50);
  --progressbar-large-border-radius: 4px;
  --progressbar-large-indeterminate-border-radius: 4px;
  --progressbar-large-over-background-border-radius: 4px;
  --progressbar-small-border-radius: 3px;
  --progressbar-small-indeterminate-border-radius: 3px;
  --progressbar-small-over-background-border-radius: 3px;
  --progresscircle-medium-border-size: var(--global-dimension-static-size-50);
  --progresscircle-medium-over-background-border-size: var(--global-dimension-static-size-50);
  --progresscircle-small-border-size: 3px;
  --progresscircle-small-indeterminate-border-size: 3px;
  --progresscircle-small-over-background-border-size: 3px;
  --progresscircle-medium-indeterminate-border-size: var(--global-dimension-static-size-50);
  --radio-text-gap-key-focus: var(--global-dimension-static-size-150);
  --radio-text-gap-selected-key-focus: var(--global-dimension-static-size-150);
  --radio-text-gap-error-key-focus: var(--global-dimension-static-size-150);
  --radio-text-gap-error-selected-key-focus: var(--global-dimension-static-size-150);
  --radio-margin-bottom: var(--global-dimension-static-size-100);
  --radio-touch-hit-y: var(--global-dimension-static-size-50);
  --radio-emphasized-text-gap-key-focus: var(--global-dimension-static-size-150);
  --radio-emphasized-text-gap-selected-key-focus: var(--global-dimension-static-size-150);
  --radio-emphasized-text-gap-error-key-focus: var(--global-dimension-static-size-150);
  --radio-emphasized-text-gap-error-selected-key-focus: var(--global-dimension-static-size-150);
  --radio-emphasized-margin-bottom: var(--global-dimension-static-size-100);
  --radio-emphasized-touch-hit-y: var(--global-dimension-static-size-50);
  --radio-quiet-text-gap-key-focus: var(--global-dimension-static-size-150);
  --radio-quiet-text-gap-selected-key-focus: var(--global-dimension-static-size-150);
  --radio-quiet-text-gap-error-key-focus: var(--global-dimension-static-size-150);
  --radio-quiet-text-gap-error-selected-key-focus: var(--global-dimension-static-size-150);
  --radio-quiet-margin-bottom: var(--global-dimension-static-size-100);
  --radio-quiet-touch-hit-y: var(--global-dimension-static-size-50);
  --rating-icon-width: 30px;
  --rating-indicator-width: 20px;
  --rating-touch-hit-y: var(--global-dimension-static-size-50);
  --rating-emphasized-icon-width: 30px;
  --rating-emphasized-indicator-width: 20px;
  --rating-emphasized-touch-hit-y: var(--global-dimension-static-size-50);
  --rating-quiet-icon-width: 30px;
  --rating-quiet-indicator-width: 20px;
  --rating-quiet-touch-hit-y: var(--global-dimension-static-size-50);
  --search-touch-hit-x: var(--global-dimension-static-size-50);
  --search-touch-hit-y: var(--global-dimension-static-size-50);
  --search-icon-frame: var(--global-dimension-static-size-500);
  --search-quiet-touch-hit-x: var(--global-dimension-static-size-50);
  --search-quiet-touch-hit-y: var(--global-dimension-static-size-50);
  --search-quiet-icon-frame: var(--global-dimension-static-size-500);
  --sidenav-item-touch-hit-bottom: 3px;
  --sidenav-multilevel-item-touch-hit-bottom: 3px;
  --slider-track-touch-hit-y: var(--global-dimension-static-size-50);
  --slider-handle-touch-hit-x: var(--global-dimension-static-size-175);
  --slider-handle-touch-hit-y: var(--global-dimension-static-size-175);
  --slider-editable-track-touch-hit-y: var(--global-dimension-static-size-50);
  --slider-editable-handle-touch-hit-x: var(--global-dimension-static-size-175);
  --slider-editable-handle-touch-hit-y: var(--global-dimension-static-size-175);
  --slider-fill-track-touch-hit-y: var(--global-dimension-static-size-50);
  --slider-fill-handle-touch-hit-x: var(--global-dimension-static-size-175);
  --slider-fill-handle-touch-hit-y: var(--global-dimension-static-size-175);
  --switch-focus-ring-border-radius-key-focus: var(--global-dimension-static-size-160);
  --switch-text-gap-key-focus: var(--global-dimension-static-size-150);
  --switch-text-gap-selected-key-focus: var(--global-dimension-static-size-150);
  --switch-text-gap-error-key-focus: var(--global-dimension-static-size-150);
  --switch-text-gap-error-selected-key-focus: var(--global-dimension-static-size-150);
  --switch-track-width: var(--global-dimension-static-size-450);
  --switch-handle-border-radius: 9px;
  --switch-touch-hit-y: var(--global-dimension-static-size-50);
  --switch-emphasized-focus-ring-border-radius-key-focus: var(--global-dimension-static-size-160);
  --switch-emphasized-text-gap-key-focus: var(--global-dimension-static-size-150);
  --switch-emphasized-text-gap-selected-key-focus: var(--global-dimension-static-size-150);
  --switch-emphasized-text-gap-error-key-focus: var(--global-dimension-static-size-150);
  --switch-emphasized-text-gap-error-selected-key-focus: var(--global-dimension-static-size-150);
  --switch-emphasized-track-width: var(--global-dimension-static-size-450);
  --switch-emphasized-handle-border-radius: 9px;
  --switch-emphasized-touch-hit-y: var(--global-dimension-static-size-50);
  --switch-quiet-focus-ring-border-radius-key-focus: var(--global-dimension-static-size-160);
  --switch-quiet-text-gap-key-focus: var(--global-dimension-static-size-150);
  --switch-quiet-text-gap-selected-key-focus: var(--global-dimension-static-size-150);
  --switch-quiet-text-gap-error-key-focus: var(--global-dimension-static-size-150);
  --switch-quiet-text-gap-error-selected-key-focus: var(--global-dimension-static-size-150);
  --switch-quiet-track-width: var(--global-dimension-static-size-450);
  --switch-quiet-handle-border-radius: 9px;
  --switch-quiet-touch-hit-y: var(--global-dimension-static-size-50);
  --tabs-compact-focus-ring-border-radius: 6px;
  --tabs-compact-margin-left: -11px;
  --tabs-compact-margin-right: -11px;
  --tabs-compact-vertical-focus-ring-border-radius: 6px;
  --tabs-compact-vertical-emphasized-focus-ring-border-radius: 6px;
  --tabs-baseline: var(--global-dimension-size-250);
  --tabs-focus-ring-border-radius: 6px;
  --tabs-margin-left: -11px;
  --tabs-margin-right: -11px;
  --tabs-emphasized-baseline: var(--global-dimension-size-250);
  --tabs-emphasized-focus-ring-border-radius: 6px;
  --tabs-emphasized-margin-left: -11px;
  --tabs-emphasized-margin-right: -11px;
  --tabs-quiet-baseline: var(--global-dimension-size-250);
  --tabs-quiet-focus-ring-border-radius: 6px;
  --tabs-quiet-margin-left: -11px;
  --tabs-quiet-margin-right: -11px;
  --tabs-quiet-compact-focus-ring-border-radius: 6px;
  --tabs-quiet-compact-margin-left: -11px;
  --tabs-quiet-compact-margin-right: -11px;
  --tabs-quiet-compact-emphasized-focus-ring-border-radius: 6px;
  --tabs-quiet-compact-emphasized-margin-left: -11px;
  --tabs-quiet-compact-emphasized-margin-right: -11px;
  --tabs-quiet-compact-vertical-focus-ring-border-radius: 6px;
  --tabs-quiet-compact-vertical-emphasized-focus-ring-border-radius: 6px;
  --tabs-quiet-emphasized-baseline: var(--global-dimension-size-250);
  --tabs-quiet-emphasized-focus-ring-border-radius: 6px;
  --tabs-quiet-emphasized-margin-left: -11px;
  --tabs-quiet-emphasized-margin-right: -11px;
  --tabs-quiet-vertical-baseline: var(--global-dimension-size-250);
  --tabs-quiet-vertical-focus-ring-border-radius: 6px;
  --tabs-quiet-vertical-emphasized-baseline: var(--global-dimension-size-250);
  --tabs-quiet-vertical-emphasized-focus-ring-border-radius: 6px;
  --tabs-vertical-baseline: var(--global-dimension-size-250);
  --tabs-vertical-focus-ring-border-radius: 6px;
  --textarea-touch-hit-x: var(--global-dimension-static-size-50);
  --textarea-touch-hit-y: var(--global-dimension-static-size-50);
  --textarea-icon-frame: var(--global-dimension-static-size-500);
  --textarea-quiet-touch-hit-x: var(--global-dimension-static-size-50);
  --textarea-quiet-touch-hit-y: var(--global-dimension-static-size-50);
  --textarea-quiet-icon-frame: var(--global-dimension-static-size-500);
  --textfield-touch-hit-x: var(--global-dimension-static-size-50);
  --textfield-touch-hit-y: var(--global-dimension-static-size-50);
  --textfield-icon-frame: var(--global-dimension-static-size-500);
  --textfield-quiet-touch-hit-x: var(--global-dimension-static-size-50);
  --textfield-quiet-touch-hit-y: var(--global-dimension-static-size-50);
  --textfield-quiet-icon-frame: var(--global-dimension-static-size-500);
  --tool-touch-hit-x: var(--global-dimension-static-size-50);
  --tool-touch-hit-y: var(--global-dimension-static-size-50);
  --tool-high-emphasis-touch-hit-x: var(--global-dimension-static-size-50);
  --tool-high-emphasis-touch-hit-y: var(--global-dimension-static-size-50);
  --tooltip-padding-bottom: 6px;
  --tooltip-content-max-width: 126px;
  --tooltip-info-padding-bottom: 6px;
  --tooltip-info-content-max-width: 126px;
  --tooltip-negative-padding-bottom: 6px;
  --tooltip-negative-content-max-width: 126px;
  --tooltip-positive-padding-bottom: 6px;
  --tooltip-positive-content-max-width: 126px;
}
